@use '../../styles/variables' as variables;
@use '../../styles/common' as common;

.recs {
	@include common.noselect;
	position: relative;
	top: variables.$main-content-margin-top;
	width: 580px;
	height: 75px;
	margin-bottom: 100px;
	h3 {
		margin: 0 auto 10px;
	}
	.recs-container {
		@include common.custom-scrollbar;
		height: 100%;
		display: flex;
		overflow-x: scroll;
		padding-top: 5px;
		padding-left: 3px;
	}
	&::after {
		content: '';
		display: block;
		width: fit-content;
		height: 90%;
		width: 10%;
		position: absolute;
		top: 0;
		right: 0;
		background: transparent;
		background-image: linear-gradient(
			to right,
			transparent,
			rgb(255, 255, 255)
		);
		opacity: 0.8;
		z-index: 0;
	}

	.rec {
		@include common.linear-border(16px);
		margin-right: 20px;
		cursor: pointer;
		img {
			border: none;
		}
	}
}

@media (max-width: 600px) {
	.stories {
		width: 94vw;
		padding: 0 10px;
	}
}
