@use '../../../styles/variables' as variables;
@use '../../../styles/common' as common;

.post {
	margin-bottom: 48px;
	.post-header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 16px;

		div {
			@include common.hover-effect;
			display: flex;
			.post-header-data {
				margin-left: 16px;
				flex-direction: column;
				width: fit-content;
				p {
					margin: 0;
				}
				p:last-child {
					font-size: variables.$secondary-font-size;
					opacity: 0.55;
				}
				.memory-info {
					opacity: 0.5
				}
			}
		}
		.post-header-menu {
			@include common.noselect;
			@include common.hover-effect;
		}
	}
	.post-image,
	.post-copied-bufer {
		width: 100%;
		height: 100%;
		border-radius: variables.$border-radius-48;
		@include common.hover-effect;
	}
	.post-image-block {
		position: relative;
		img {
			border-radius: variables.$border-radius-48;
		}
		// .post-details-button desktop
	}
	.post-copied-bufer {
		position: absolute;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(1, 1, 1, 0.5);
		backdrop-filter: blur(12px);
		animation: CopiedToBufer 1.2s ease-out;
		.post-copied-bufer-text {
			font-size: 20px;
			color: #fff;
			margin-left: 10px;
		}
	}
	.post-description-editable {
		display: flex;
		.post-description-editable-txtarea {
			@include common.input-textarea;
			height: auto;
			box-shadow: none;
			width: 100%;
		}
	}
	.post-action-button {
		@include common.disable-default-styles;
		@include common.hover-effect;
		min-width: 35px;
		width: fit-content;
		padding: 0;
		color: variables.$blue-color;
		font-weight: variables.$main-font-weight;
	}
	.post-tags {
		display: flex;
		width: 100%;
		max-width: 580px;
		overflow-x: auto;
		@include common.custom-scrollbar;
		&::-webkit-scrollbar {
			height: 7px;
		}
		.create-tag {
			@include common.create-tag;
		}
		.post-tags-tag {
			@include common.tag;
			display: flex;
			align-items: center;
		}
		.tag-action-icon {
			height: 16px;
			width: 16px;
			margin-left: 3px;
			@include common.hover-effect;
		}
	}
	.post-description {
		margin-bottom: 0;
		-webkit-line-clamp: 3;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
		color: variables.$color-dark-grey;
		font-weight: variables.$secondary-font-weight;
	}
	.post-actions {
		display: flex;
		justify-content: space-between;
		p {
			font-weight: 600;
		}
		div:first-child {
			display: flex;
			.post-action.comment-action {
				margin-left: 40px;
			}
		}
		.post-action {
			display: flex;
			img:first-child,
			p:first-child {
				margin-right: 8px;
			}
			@include common.hover-effect;
		}
	}
}

@keyframes CopiedToBufer {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@media (max-width: 600px) {
	.post {
		width: calc(100vw - 20px);
		padding: 0 10px;
		margin-bottom: 18px;
		.post-header {
			margin-bottom: 10px;
		}
	}
}

@media only screen and (max-width: 950px) {
	.post {
		.post-details-button.desktop {
			display: none;
		}
		.post-details-button.mobile {
			display: flex;
		}
	}
}

@media only screen and (min-width: 950px) {
	.post {
		.post-details-button.desktop {
			display: flex;
		}
		.post-details-button.mobile {
			display: none;
		}
	}
}
