@use '../../../styles/variables' as vars;

.user-brief-list {
	height: 400px;
	width: 350px;
	padding: 15px 25px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background-color: vars.$main-bacground-color;
	overflow-y: auto;
	overflow-x: hidden;
	.user-card {
		width: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 20px;
		cursor: pointer;
		span {
			margin-left: 10px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}
