@use '../../../styles/common' as common;

.owner-posts {
	display: grid;
	justify-content: center;
	grid-template-columns: min-content min-content min-content;
	grid-template-rows: min-content;
	column-gap: 15px;
	row-gap: 15px;
	margin: 1vw auto;
	margin-top: 24px;
	width: 100%;
	.owner-posts-image-wrapper {
		position: relative;
		.dropdown-container {
			position: absolute;
			z-index: 999;
			top: 5px;
			right: 5px;
		}
	}
	.owner-posts-image {
		@include common.hover-effect;
		width: 200px;
		height: 200px;
		object-fit: cover;
		&.hovered {
			filter: brightness(0.75);
		}
	}
}

.deceased-section {
	.info-action-block {
		display: flex;
		align-items: center;
		.info {
			margin: 30px 5px 25px;
			font-weight: 400;
			font-size: 1em;
		}
		button {
			@include common.button;
			min-width: 120px;
			width: 142px;
			height: fit-content;
			box-sizing: border-box;
		}
	}
	.trusted-users-title {
		margin: 0 0 5px ;
	}
	.trusted-users {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		@include common.custom-scrollbar;
		.user-item {
			cursor: pointer;
			margin-left: 10px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
}

@media only screen and (max-width: 950px) {
	.owner-posts-item.desktop {
		display: none;
	}
	.owner-posts-item.mobile {
		display: block;
	}
}
@media only screen and (min-width: 950px) {
	.owner-posts-item.desktop {
		display: block;
	}
	.owner-posts-item.mobile {
		display: none;
	}
}
@media (max-width: 600px) {
	.owner-posts {
		column-gap: 2px;
		row-gap: 2px;
		.owner-posts-image {
			width: 113px;
			height: 113px;
		}
	}
}

@media (max-width: 300px) {
	.owner-posts {
		.owner-posts-image {
			width: 88px;
			height: 88px;
		}
	}
}
